<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="false" preserve-order="true">

    <test name="smoke" parallel="false" preserve-order="true">
        <groups>
            <run>
                <include name = "smoke" />
            </run>
        </groups>
        <classes>
            <class name="CRUD_API.tests.AssetTests"/>
        </classes>
    </test>

</suite>